@using Shop1.Models;
@model List<SanPham>


@foreach (SanPham item in Model)
{
    <div class="col-lg-4 col-sm-6">
        <div class="single-product">
            @{
                if (item.isnew == true)
                {
                    <div class="level-pro-new"><span>Mới</span></div>
                }
                else if (item.issale == true)
                {
                    <div class="level-pro-sale"><span>Sale</span></div>
                }
                else
                {
                }
            }
            <div class="product-img">
                <a href="@Url.Action("SingleProduct", "Product", new { id = item.MaSP})">
                    <img src="~/Content/img/Shoes/@item.AnhDaiDien" alt="" class="primary-img">
                    <img src="~/Content/img/Shoes/@item.AnhNen" alt="" class="secondary-img">
                </a>
            </div>
            <div class="actions">
                <button type="submit" class="cart-btn" title="Add to cart">Add to cart</button>
                <ul class="add-to-link">
                    <li><a class="modal-view" data-target="#productModal" data-toggle="modal" href="#"> <i class="fa fa-search"></i></a></li>
                    <li><a href="#"> <i class="fa fa-refresh"></i></a></li>
                </ul>
            </div>
            <div class="product-price">
                <div class="product-name">
                    <a href="@Url.Action("SingleProduct", "Product", new { id = item.MaSP})" title="Fusce aliquam">@item.TenSP</a>
                </div>
                <div class="price-rating">
                    @{
                        if (item.GiaSale != null)
                        {
                            <span class="old-price">$@item.GiaGoc</span>
                        }
                    }
                    <span>$ @item.GiaTien</span>
                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
}