@{
    ViewBag.Title = "About";
}

<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="location">
                    <ul>
                        <li><a href="index.html" title="go to homepage">Home<span>/</span></a>  </li>
                        <li><strong> About us</strong></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="about-page">
            <div class="row">
                <div class="col-md-7 col-sm-7">
                    <div class="about-page-content">
                        <h3>BÁO CÁO BÀI TẬP LỚN</h3>
                        <p>Dựa trên các yêu cầu của giảng viên, nhóm đã nghiên cứu và triển khai thực hiện một số chức năng sau: </p>

                        <p>* Ở phần trang Home, hiển thị danh mục các sản phẩm từ cơ sở dữ liệu, khi nhấn vào ảnh hoặc tên một sản phẩm bất kỳ sẽ hiện ra phần thông tin chi tiết của sản phẩm đó.</p>

                        <p>Last of all, another important character of a co-worker should be responsibility. Indeed, no one would want an irresponsible person as his or her co-worker. It would be a nightmare if your co-worker does not do anything and leave everything for you to finish. On the other hand, a responsible co-worker not only do his own part of work, but also, as soon he finishes his own, helps you finish yours, which in turn enhances the efficiency of the work. A responsible co-worker can help others work more efficiently by giving others aid in addition to getting their part of job done.</p>
              
                    </div>
                </div>
                <div class="col-md-5 col-sm-5">
                    <div class="about-img">
                        <img src="https://template.hasthemes.com/james/james/img/about/about.jpg" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <div class="team-member">
            <div class="row" >
                <div class="col-md-12">
                    <div class="team-title">
                        <h3>Nhóm thực tập</h3>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-1 hidden-sm">
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="single-member">
                        <div class="member-info">
                            <img src="/Content/img/Team/Dung.jpg" alt="">
                            <div class="member-social-profile">
                                <a href="#"> <i class="fa fa-facebook"></i> </a>
                                <a href="#"> <i class="fa fa-twitter"></i> </a>
                            </div>
                        </div>
                        <h3>Ng K Tuấn Anh</h3>
                        <p>Programmer</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="single-member">
                        <div class="member-info">
                            <img src="/Content/img/Team/Dung.jpg" alt="">
                            <div class="member-social-profile">
                                <a href="#"> <i class="fa fa-facebook"></i> </a>
                                <a href="#"> <i class="fa fa-twitter"></i> </a>
                            </div>
                        </div>
                        <h3>Nguyễn Thị Trà</h3>
                        <p>Programmer</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="single-member">
                        <div class="member-info">
                            <img src="/Content/img/Team/Dung.jpg" alt="">
                            <div class="member-social-profile">
                                <a href="#"> <i class="fa fa-facebook"></i> </a>
                                <a href="#"> <i class="fa fa-twitter"></i> </a>
                            </div>
                        </div>
                        <h3>Phm Quang Tùng*</h3>
                        <p>Brogrammer</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="single-member">
                        <div class="member-info">
                            <img src="~/Content/img/Team/Hoang.JPG" alt="">
                            <div class="member-social-profile">
                                <a href="#"> <i class="fa fa-facebook"></i> </a>
                                <a href="#"> <i class="fa fa-twitter"></i> </a>
                            </div>
                        </div>
                        <h3>Mai Ngọc Sơn</h3>
                        <p>Programmer</p>
                    </div>
                </div>
                <div class="col-md-2 hidden-sm">
                    <div class="single-member">
                        <div class="member-info">
                            <img src="~/Content/img/Team/Van.jpg" alt="">
                            <div class="member-social-profile">
                                <a href="#"> <i class="fa fa-facebook"></i> </a>
                                <a href="#"> <i class="fa fa-twitter"></i> </a>
                            </div>
                        </div>
                        <h3>Ng T Thanh Nhàn</h3>
                        <p>Programmer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>